<% content_for :topbar do %>
  <ul class="right">
    <li class="has-form">
      <a href="<%= page_path(@page) %>" class="button">Show</a>
    </li>
  </ul>
<% end %>

<% content_for :sidebar do %>
  <%= render partial: 'page_tree/frontend/shared/menu', locals: {page: @page} %>
<% end %>

<%= render partial: "form", locals: {page: @page} %>